@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.navbar {
    background-color: #262626 !important;
    height: 4.5rem !important;
    justify-content: center !important;
    width: 100% !important;
}

.header-text{
    margin-left: 3rem !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 600 !important;
    font-size: 2rem !important;
    color: #2FC454 !important;
}

.secondary-text{
    margin-left: 3rem !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 600 !important;
    font-size: x-large !important;
    color: #21833a !important;
}

.secondary-text:hover{
    color: #32ac50 !important;
}

.bookmars-btn{
    color: #262626 !important;
    size: 2.3rem !important;
    margin-left: 80rem !important;
}

.bookmars-icon{
    font-size: 2.3rem !important;
    color: #2FC454 !important;
}

a.home-link:link {
    color: black !important;
    text-decoration: none !important;
}
  
a.home-link:visited {
    color: black !important;
    text-decoration: none !important;
}
  
a.home-link:hover {
    color: rgb(31, 31, 31) !important;
    text-decoration: none !important;
}

a.publish-link:link{
    text-decoration: none !important;
}
  